* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Medium", sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  transition: 2s;
}

.navbar.sticky a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.navbar a:hover {
  color: rgb(34, 228, 202);
}
/*  HEADER  */
header {
  position: fixed;
  width: 100%;
  display: flex;
  transition: 0.6s;
  padding: 0 2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.0);
  z-index: 100000;
}
header.sticky {
  padding: 0 2rem;
  background: #ffffff;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn img {
  height: 2rem;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/*   Dropdown menu   */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 4rem;
  top: 80px;
  height: 0px;
  width: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 9999; /* Agrega esta línea */
}

.dropdown_menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.dropdown_menu a:hover {
  color: rgb(231, 34, 34);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*navbar responsi*/
@media (max-width: 720px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 580px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/*Slider img*/

.container-slider {
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.slider {
    margin: 0;
    display: flex;
    height: 100%;
    width: 400%;
    margin-left: -100%;
}
.slider__section{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.slider__img {
  display: block;
  width: 100%;
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: background-color 0.7s ease;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background-color: rgba(255, 255, 255, 0.7);
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}